<!DOCTYPE html>
<html lang="en">

<body style="text-align: center;background-color: lightgray;">
    <div class="wrapper">
        <h2>LogIn</h2>
        {% if messages %}
        {% for message in messages %}
        <h2 style="color: red">{{message}}</h2>
        {% endfor %}
        {% endif %}
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="input-box">
                <label>UserName : </label>
                <input type="text" placeholder="Enter UserName" required name="uname">
            </div>
            <br/>
            <div class="input-box">
                <labe>Password : </labe>
                <input type="password" placeholder="Enter Password" required name="pass">
            </div>
            <br/>
            <div class="policy">
            </div>
            <br/>
            <div class="input-box button">
                <input type="Submit" value="Login">
            </div>
            <div class="text">
                <h3>Don't have an account? <a href="{% url 'register' %}">Register Now</a></h3>
            </div>
        </form>
    </div>
</body>

</html>
